.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

app-sidebar {
  width: 260px;         /* largeur ouverte */
  flex-shrink: 0;
  transition: width 0.3s ease;
}

app-sidebar.closed {
  width: 70px;          /* largeur fermée */
}

.content {
  flex: 1;              /* prend tout l’espace restant */
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}
.sidebar.closed .menu a span,
.sidebar.closed .brand {
  display: none;
}
